body{
  font-family: 'Lexend Peta', sans-serif;
}

.hidden{
  display: none;
}

img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

#weather{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 12px;
}

#weather span{
  color: white;
  margin-bottom: 10px;
}

.clock{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock{
  display: flex;
  font-size: 170px;
  font-weight: 100;
  color: white;
  justify-content: center;
  width: 50%;
  margin: 0;
  position: fixed;
  top: 35%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

input[type="text"] {
  font-family: 'Lexend Peta', sans-serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form input:not([type="submit"]){
  border: none;
  background: transparent;
  font-size: 30px;
  padding-bottom: 13px;
  margin-bottom: 25px;
  border-bottom: 0.7px solid white;
  opacity: 60%;
}

.login-form input:not([type="submit"]):focus{
  outline: none;
}

.login-form input{
  color: white;
}

.login-form input::placeholder{
  color: white;
  text-align: center;
  font-size: 40px;
}

.login-form__submit{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.login-form__submit i{
  color: white;
}

.login-form__submit i{
  font-size: 30px;
}

.login-form input[type="submit"]:focus{
  outline: none;
}

.login-form input[value="+"]{
  font-size: 40px;
}

#greeting{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 65px;
  margin-bottom: 100px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-pop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-pop a{
  border: 3px solid black;
  padding: 13px;
  color: white;
  text-decoration-line: none;
  font-size: 23px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

#quote{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#quote span{
  font-size: 13px;
  margin-bottom: 25px;
  color: white;
}

#quote span:nth-child(2){
  font-style: italic;
}

#todo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-popup-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px)
  /*display: none;*/
}

.todo-popup{
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

.todo-popup__head{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}



