body{
  font-family: 'Lexend Peta', sans-serif;
}

.hidden{
  display: none;
}

img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

#weather{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 12px;
}

#weather span{
  color: white;
  margin-bottom: 10px;
}

#clock{
  font-size: 155px;
  font-weight: 100;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom:15px;
}

input[type="text"] {
  font-family: 'Lexend Peta', sans-serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input:not([type="submit"]){
  border: none;
  background: transparent;
  font-size: 30px;
  padding-bottom: 13px;
  margin-bottom: 17px;
  border-bottom: 0.7px solid white;
  opacity: 60%;
}

.login-form input:not([type="submit"]):focus{
  outline: none;
}

.login-form input::placeholder{
  color: white;
  text-align: center;
  font-size: 40px;
}

.login-form__submit{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.login-form__submit i{
  font-size: 30px;
}

.login-form input[type="submit"]:focus{
  outline: none;
}

.login-form input[value="+"]{
  font-size: 40px;
}

#greeting{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#quote{
  margin: 10px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote span{
  font-size: 17px;
  margin-bottom: 25px;
  color: white;
}
