@import "background.css";
@import "clock.css";
@import "greeting.css";
@import "login.css";
@import "quote.css";
@import "todo.css";
@import "weather.css";

body{
  font-family: 'Lexend Peta', sans-serif;
}

.hidden{
  display: none;
}

input[type="text"] {
  font-family: 'Lexend Peta', sans-serif;
}






