.todo-pop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.todo-pop a{
  border: 3px solid black;
  padding: 13px;
  color: white;
  text-decoration-line: none;
  font-size: 23px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

#todo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form input{
  width: 70%;
  border: none; 
  background: transparent;
  border-bottom: 3px double white;
  color: beige;
}

#todo-form input:focus{
  outline: none;
}

#todo-form input::placeholder{
  color: white;
}

.todo-popup-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
}

.todo-popup{
  width: 100%;
  max-width: 400px;
  height: 55vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 10px 7px rgba(0,0,0,.5);
  position: relative;
}

.todo-popup__head{
  width: 100%;
  height: 50px;
  top: 50;
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-title{
  color: white;
  font-size: 65px;
  font-weight: bold;
  text-shadow: 4px 4px 4px black;
  font-family: 'Satisfy', cursive;
}

.body-titlebox{
  display: flex;
  justify-content: center;
}

.body-titlebox h3{
  color: white;
  text-shadow: 4px 4px 4px black;
  font-family: 'Satisfy', cursive;
}

.todo-close-button{
  position: absolute;
  right: 0;
  margin: 15px;
}

.todo-close-button{
  cursor: pointer;
}

.todo-close-button i{
  color: tomato;
}

#todo-list{
  margin-left: 20px;
}

#todo-list li{
  list-style-type: decimal;
  margin-bottom: 17px;
}

#todo-list li span{
  font-family: 'Secular One', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  background-color: rgba(0,0,0,.4);
  padding: 5px;
  border-radius: 10px;
}

#todo-list li button{
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#todo-list li button:focus{
  outline: none;
}